# Keil build output
Objects/
Listings/

*.o
*.d
*.crf
*.htm
*.lnp
*.lst
*.map
*.axf
*.hex
*.bin
*.elf
*.dep

# Keil user/temp files
*.bak
*.uvguix.*
*.uvgui.*
*.uvoptx
*.uvopt

# Debug files
JLinkLog.txt
JLinkSettings.ini

# Windows
Thumbs.db
Desktop.ini

# VS Code
.vscode/